[includeIf "gitdir:/Users/fgunzinger/dev/personal/"]
    path = /Users/fgunzinger/.dotfiles/git/.gitconfig.personal

[includeIf "gitdir:/Users/fgunzinger/dev/work/"]
    path = /Users/fgunzinger/.dotfiles/git/.gitconfig.work

[includeIf "gitdir:/Users/fgunzinger/.dotfiles/"]
    path = /Users/fgunzinger/.dotfiles/git/.gitconfig.personal

[core]
  editor = nvim
  excludesfile = /Users/fgunzinger/.gitignore_global
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[url "ssh://git@github.bus.zalan.do/"]
	insteadOf = https://github.bus.zalan.do/
