[includeIf "gitdir:~/dev/personal/"]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/dev/work/"]
  path = ~/.gitconfig.work

[includeIf "gitdir:~/.dotfiles/"]
  path = ~/.gitconfig.personal

[core]
  editor = nvim
[init]
	defaultBranch = main
[user]
	name = fabiangunzinger
[push]
	autoSetupRemote = true
