[includeIf "gitdir:~/dev/projects/"]
    path = ~/.gitconfig.personal

[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.gitconfig.personal

[includeIf "gitdir:~/dev/jet/"]
    path = ~/.gitconfig.work

[core]
    editor = nvim
[init]
	defaultBranch = main
[user]
	name = fabiangunzinger
